<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Example</h5>
          {{#each searchResults}}
          <p>
            <strong>ID</strong>: {{this.id}}</p>
          <p>
            {{/each}}
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
