<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top ">
      <a class="navbar-brand text-white" href="/">Meme Database</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="icon-bar top-bar"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active ">
            <a class="nav-link text-white " href="/popularMemes">Popular Memes</a>
          </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="/categories">Catagories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="/allMemes">All Memes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="/addAMeme">Add A Meme</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="/team">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="/memeWars" target="blank_">Meme War</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="/searchResults">Search</a>
        </li>        
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" id="meme-search" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary mb-2 my-sm-0" type="submit" id="search-btn">Search</button>
      </form>
       </div>
  </nav>
  <br><br><br><br>






  <!--- Start Memes Of The Week  Section -->
  <div id="MemeDatabase" class="offset">
    <header class="header">


      <div class="header__text-box">
        <h1 class="heading-primary">
          <span class="heading-primary--main">Meme Database</span>
          <span class="heading-primary--sub">a full meme resource</span>
        </h1>


      </div>
    </header>

  </div>
  <div class="bg">
    </div>
</body>
